{% load humanize %}

{% with singular_suffix|add:","|add:plural_suffix as pluralize_rule %}
  <div class="btn-group btn-group-lg full-width-on-mobile" role="group" aria-label="...">
    <a class="btn btn-info" href="{% if list_url %}{% url list_url %}{% else %}#{% endif %}" role="button">
      {{ list_count|intcomma }} {{ label }}{{ list_count|pluralize:pluralize_rule }}
    </a>
    {% if user.is_staff %}
      <a class="btn btn-info" href="{% url admin_url %}" target="_blank" role="button">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </a>
    {% endif %}
  </div>
{% endwith %}
