<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}System Maintenance{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-8EtRe6XWoFEEhWiaPkLawAD1FkD9cbmGgEy6F46uQqU= sha512-/5KWJw2mvMO2ZM5fndVxUQmpVPqaxZyYRTMrXtrprsyQ2zM0o0NMjU02I8ZJXeBPtrmrPO4IAyCCRsydG0BJoQ==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'system_maintenance/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'system_maintenance/css/syntax-highlighting.css' %}">
  </head>

  <body>
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" integrity="sha256-1f0XPQDZczkAg04OEIPehrUy4EixXAQgulwtsGI2RLg= sha512-4YpZWXNqnO72e0Da95ZMUZxnjWgLvajSx2eSgfXTSaKGyZuWyiTnqOZM6YfTctdK4S2nJVxgbM/iesE6NbWj0g==" crossorigin="anonymous"></script>
  </body>
</html>
