<!DOCTYPE html>
<html>
<head>
  <title>Maintenance Records</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
<br>
<br>
<br>
  <div class='container'>

    <h1>Maintenance Records</h1>
    <div class="list-group">
      {% for record in object_list %}
        {% include "system_maintenance/_maintenance_record_list_item.html" %}
      {% endfor %}
    </div>

  </div>
  <br>
  <br>
  <br>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
