{% extends "system_maintenance/base.html" %}

{% block title %}System Maintenance{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">

      <h1>System Maintenance</h1>
      <p>System maintenance records and other important system administration information is accessible via the buttons below.</p>

      {% if user.is_staff %}
        <p>
          To add or change maintenance data, click on the relevant <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> or go to the <a href="{% url 'admin:app_list' 'system_maintenance' %}">System Maintenance Admin Page</a>.
        </p>
      {% endif %}

      <p>
        {% include "system_maintenance/_summary_button.html" with label="Maintenance Record" list_count=maintenance_record_count list_url="system_maintenance:maintenance_record_list" admin_url="admin:system_maintenance_maintenancerecord_changelist" singular_suffix="" plural_suffix="s" %}

        {% include "system_maintenance/_summary_button.html" with label="Maintenance Type" list_count=maintenance_type_count list_url="" admin_url="admin:system_maintenance_maintenancetype_changelist" singular_suffix="" plural_suffix="s" %}

        {% include "system_maintenance/_summary_button.html" with label="Documentation Record" list_count=documentation_record_count list_url="system_maintenance:documentation_record_list" admin_url="admin:system_maintenance_documentationrecord_changelist" singular_suffix="" plural_suffix="s" %}

        {% include "system_maintenance/_summary_button.html" with label="Hardware Type" list_count=hardware_count list_url="" admin_url="admin:system_maintenance_hardware_changelist" singular_suffix="" plural_suffix="s" %}

        {% include "system_maintenance/_summary_button.html" with label="Software Package" list_count=software_count list_url="" admin_url="admin:system_maintenance_software_changelist" singular_suffix="" plural_suffix="s" %}

        {% include "system_maintenance/_summary_button.html" with label="System" list_count=system_count list_url="" admin_url="admin:system_maintenance_system_changelist" singular_suffix="" plural_suffix="s" %}

        {% include "system_maintenance/_summary_button.html" with label="System Administrator" list_count=sys_admin_count list_url="" admin_url="admin:system_maintenance_sysadmin_changelist" singular_suffix="" plural_suffix="s" %}
      </p>

    </div>
  </div>
{% endblock content %}
