body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.jumbotron .btn {
  margin-bottom: 5px;
}
.documentation-title {
  background-color: rgb(225, 225, 225);
}
a.documentation-title:hover {
  background-color: rgb(245, 245, 245);
}

.panel-footer.panel-danger {
  background-color: #f2dede;
}
.panel-footer.panel-info {
  background-color: #d9edf7;
}
.panel-footer.panel-success {
  background-color: #dff0d8;
}
